.container {
  align-items: center;
  font-size: 20px;
}
.formulario {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 100px auto;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 6px 10px black;
}
input{
    width: auto;
    display: flex;
    justify-content: center;
    font-size: 24px;
}
label {
  padding: 5px;
  font-size: 24px;
}
.centrar-boton {
    margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
    background-color: orange;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}
table{
    border-style: none;
    width: 200px;
}
#id-tabla {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  border: 2px solid black;
  width: 300px;
}
